<!DOCTYPE html>
<html dir="ltr" lang="en" class="scroll-smooth">
  <head>
    <title>Usama Mirza</title>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
  </head>

  <body>
    <main>
      <%= yield %>
    </main>
  </body>
</html>

<script>

</script>